.horizCard {
  display: flex;
  height: 100%;
  border-radius: 1rem;
  align-items: center;
  background-color: var(--colors-white);
  justify-content: space-between;
}

.horizCardText {
  display: flex;
  border-radius: 1rem;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
}

.horizCardText h1 {
  color: var(--colors-default);
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
