.signinInputField {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  margin: 1.5rem;
}

.signinInputField p {
  color: var(--colors-white);
}

.emailInputError,
.passwordInputError {
  border-color: rgb(236, 95, 95);
  background-color: rgb(255, 159, 159);
}

.emailError,
.passwordError {
  display: flex;
  width: 90%;
}

.googleButton {
  display: flex;
  width: 3.5rem;
  background-color: var(--colors-white);
  padding: 1rem 1rem;
  text-align: center;
  border-radius: 0.7rem;
}

.googleIcon {
  text-align: center;
}
