.cartItemContainer {
  display: flex;
  padding: 1rem;
}

.cartItemInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 1rem;
}

.cartItemText {
    display: flex;
    flex-direction: column;
}

.cartItemButtons {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.cartItemButtons p {
  margin-top: 1rem;
}

.cartItemButtons button {
  display: flex;
  justify-content: center;
  background-color: var(--colors-white);
  border-radius: 0.5rem;
  border-color: var(--colors-grey);
  padding: 0.2rem;
  width: 1.8rem;
}

.trashButton {
  border-style: none;
  background-color: transparent;
}

.cartItemCard {
  display: flex;
  padding: 1rem;
}

.cartItemImg {
  background-color: var(--colors-grey-light-1);
  width: 15%;
  height: 15%;
  border-radius: 1rem;
  padding: 1rem;
  margin-right: 0.5rem;
}

.cartItemText {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.buttonSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quantitySection {
  display: flex;
  align-items: flex-end;
}

.quantitySection p {
  margin: 0 1rem 0.2rem 1rem;
}