.productDetailPage {
  height: 100vh;
}

.navBar {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}

.productDetailSection {
  margin: 1.5rem 1rem;
  width: 60%;
}

.productPrice {
  font-weight: 700;
  color: var(--colors-primary);
}

.productName {
  font-family: var(--font-secondary);
  font-weight: 700;
  font-size: 1.7rem;
}

.tabBar a {
  margin: 1rem;
  color: var(--colors-default);
  font-weight: 400;
}

.tabBar a:focus {
 border-color: var(--colors-primary);
 border-bottom-style: solid;
}

.reviewSection > p {
  margin-left: 1rem;
  margin-bottom: 2rem;
}

.moreProducts {
  background-color: var(--colors-grey-light-1);
  height: 22rem;
}

.moreProductsBar {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
}

.moreProductsBar > a {
  color: var(--colors-grey-dark-1);
  font-weight: 400;
}

.moreProductsCarousel {
  margin: 1rem;
}

.featuresTab {
  height: 50vh;
  margin: 1rem;
  display: flex;
  flex-direction: column;
}

.featuresTab p {
  margin-top: 1rem;
}

.cartButtonSection {
  display: flex;
  margin: 1.5rem;
  position: sticky;
  bottom: 0;
}

.cartButton {
  margin-bottom: 1.5rem;
}

.cartButton:active {
  background-color: var(--colors-default);
  color: var(--colors-primary);
}

@media only screen and (min-width: 600px) {
  .productDetailSection {
    margin: 1rem auto;
  }
  .tabBar {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: flex-start;
  }

  .featuresTab {
    width: 80%;
    margin: 1rem auto;
  }

  .detailResponsive {
    display: grid;
    grid-template-columns: auto;
    width: 80%;
    margin: 1rem auto;
    align-items: center;
  }
  .detailCarousel {
    grid-column: 1 / 1;
  }
  .reviewSection {
    grid-column: 2 / 2;
  }
  .moreProducts {
    grid-column: 1 / span 2;
    border-radius: 1rem;
  }
  .cartButton {
    width: 50%;
    margin: 1rem auto;
  }
}
