.seeAllHeader {
  margin: 1rem;
}

.allProductsSection {
  background-color: var(--colors-grey-light-2);
  height: 100%;
  padding-top: 2rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.allProductsSection h2 {
  font-size: 1rem;
  font-weight: 400;
}
